<div class="columns is-centered">
  <div class="column is-4">
    <img src="https://images.unsplash.com/photo-1548533701-a1e8bd19f9ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=645&q=80" />
  </div>
  <div class="column is-8">
    <h1 class="title is-size-1" >Log in</h1>
    <form action="/auth/login" method="POST">

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="username"
            placeholder="Text input"
            required
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Password:</label>
        <div class="control">
          <input class="input" type="password" name="password" required />
        </div>
      </div>

      <div class="field is-grouped is-pulled-right">
        <div class="control">
          <a class="button is-danger is-light" href="/">Cancel</a>
        </div>
        <div class="control">
          <button class="button is-success" type="submit">Log in</button>
        </div>
      </div>
    </form>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </div>
</div>