<div class="columns is-centered">
  <div class="column is-3">
    <figure class="image">
      <img
        src="https://images.unsplash.com/photo-1504083898675-c896ecdae86e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2082&q=80"
      />
    </figure>
  </div>
  <div class="column is-9">
    <h1 class="title is-size-1">Sign up</h1>
    <form action="/auth/signup" method="POST">

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="username"
            placeholder="Text input"
            required
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Email: </label>
        <div class="control">
          <input class="input" type="email" name="email" required />
        </div>
      </div>

      <div class="field">
        <label class="label">Password:</label>
        <div class="control">
          <input class="input" type="password" name="password" required />
        </div>
      </div>

      <div class="field is-grouped is-pulled-right">
        <div class="control">
          <a class="button is-link is-rounded" href="/">Cancel</a>
        </div>
        <div class="control">
          <button class="button is-primary is-rounded" type="submit">Sign up</button>
        </div>
      </div>
    </form>

    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </div>
</div>