<h1 class="title is-size-1">This is your private profile page,
  {{user.username}}</h1>










<div class="field is-grouped">
  <p class="control">
    <a class="button is-success" href="/countries/create">Add a new country</a>
  </p>
  <p class="control">
    <a class="button is-danger" href="/auth/logout">Logout</a>
  </p>
</div>