* {
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

nav {
  background-color: #00b7ff;
  width: 100%;
  padding: 10px 30px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 1.5rem;
}

main {
  padding: 50px;
}

main > * {
  margin: 10px;
}

h1 {
  color: 15px;
}

.room-card {
  width: 90%;
}

.room-img {
  width: 300px;
  height: 175px;
}

.stretch-parent {
	height: 200vh;
}

/* For landing page background and logo*/
.stretch {
  width: 100000%;
  height: 80vh;
  position: absolute;
  /* top: 200%; */
  left: -20%;
  /* transform: translate(-10%, -10%); */

  background-position:25% 25%;
  background-size:cover;
  animation: spin 75s linear infinite;
  object-fit: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stretch2 {
  /* position: absolute; */
  z-index: 1;
  width: 500px;
  height: 500px;
  /* margin-top: 160px;
  margin-left: 405px; */
}

.spin * {
  box-sizing: border-box;
}

.spin {
  margin: 0;
  padding: 0;
  background-color: #34495e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.spin .spin-container {
  width: 500px;
  height: 500px;
  background-color: #ccc;
  border-radius: 50%;
  border: 15px solid #dde;
  position: relative;
  overflow: hidden;
  transition: 5s;
}

.spin .spin-container div {
  height: 50%;
  width: 200px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
  left: 135px;
}

.spin .spin-container .one {
  background-color: #3f51b5;
  left: 50%;
}
.spin .spin-container .two {
  background-color: #ff9800;
  transform: rotate(45deg);
}
.spin .spin-container .three {
  background-color: #e91e63;
  transform: rotate(90deg);
}
.spin .spin-container .four {
  background-color: #4caf50;
  transform: rotate(135deg);
}
.spin .spin-container .five {
  background-color: #009688;
  transform: rotate(180deg);
}
.spin .spin-container .six {
  background-color: #795548;
  transform: rotate(225deg);
}
.spin .spin-container .seven {
  background-color: #9c27b0;
  transform: rotate(270deg);
}
.spin .spin-container .eight {
  background-color: #f44336;
  transform: rotate(315deg);
}

.spin .arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.spin .arrow::before {
  content: "\1F817";
  font-size: 50px;
}

.spin #spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #e2e2e2;
  text-transform: uppercase;
  border: 8px solid #fff;
  font-weight: bold;
  font-size: 20px;
  color: #a2a2a2;
  width: 80px;
  height: 80px;
  font-family: sans-serif;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
}
