@font-face {
  font-family: machina;
  src: url("/fonts/PPNeueMachina-Regular.otf");
}

* {
  margin: 0;
}

body {
  font-family: "Montserat", "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "machina", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  /* position: relative; */
  font-family: "machina", "Lucida Grande", Helvetica, Arial, sans-serif;
  z-index: 0;
}

/* nav {
  background-color: #00b7ff;
  width: 100%;
  padding: 10px 30px;
} */

.navbar.is-danger {
  background-color: rgb(251, 202, 203);
  color: rgb(42, 74 ,217);
}
.navbar.is-danger .navbar-start>.navbar-item {
  color: rgb(42, 74 ,217);
}
.navbar.is-danger .navbar-end>.navbar-item {
  color: rgb(42, 74 ,217);
}

.navbar.is-danger .navbar-start>a.navbar-item:hover {
  background-color: rgb(251, 159, 160);
  color: rgb(2, 41, 216);
}
.navbar.is-danger .navbar-end>a.navbar-item:hover {
  background-color: rgb(251, 159, 160);
  color: rgb(2, 41, 216);
}

.navbar.is-danger .navbar-brand>a.navbar-item:hover {
  background-color: rgb(251, 159, 160);
  color: rgb(2, 41, 216);
}

nav a {
  /* text-decoration: none;
  color: white;
  margin: 0 20px; */
  font-size: 1.5rem;
  
}

main {
  padding: 50px;
}

main > * {
  margin: 10px;
}
/* 
h1 {
  color: 15px;
}

.room-card {
  width: 90%;
}

.room-img {
  width: 300px;
  height: 175px;
} */


/* For landing page background and logo*/
.stretch{
  max-width: 4500px;
  max-height: 200000px;
  position: absolute;
  left: -97%;
  top: -155%; 
  transform: translate(-50%, -50%);
  animation:spin 80s linear infinite;
  z-index: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stretch2 {
  position: relative;
  top: 100;
  z-index: 2;
  width: 500px;
  height: 500px;
 
}

.landing-page9{
  position: relative; 
  left: 600;
  top: -250;
  z-index: 5;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
  font-size: 25px;
}

#button-left{
  margin-right: 50px;
}
