<h1 class="title is-size-1">Countries</h1>
<br>

<a href="/countries/create">
  <button class="btn btn-success">Create New Country</button>
</a>

{{#each allCountries}}
<a href="/countries/{{this._id}}">
<h2>
    {{this.name}}
</h2>
</a>
{{/each}}