<div class="columns is-vcentered">
  <div class="column">
    <h1 class="title is-size-1">Countries</h1>
  </div>
  <div class="column is-narrow is-pulled-right">
    <a href="/countries/create">
      <button class="button is-primary is-rounded">
        Create New Country
      </button>
    </a>
  </div>
</div>

<div class="box">
  {{#each allCountries}}
    <div class="block">
      <a href="/countries/{{_id}}" class="button has-background-danger-light is-large is-fullwidth"> 
        {{name}}
      </a>
    </div>
  {{/each}}
</div>
