<h1 class="title is-size-1">Add New Country</h1>

<form action="/countries/" method="POST">

 <label class="form-label" for='name'>Name</label>
  <input class="form-control" type='text' name='name'>

  <br>
  <label class="form-label" for='description'>Description</label>
  <input class="form-control" type='text' name='description'>

  <br>
  <label class="form-label" for='playlistId'>Playlist ID</label>
  <input class="form-control" type='text' name='playlistId'>

   <br>
  <label class="form-label" for='dishName'>Dish name</label>
  <input class="form-control" type='text' name='dishName'> 

    <br>
  <label class="form-label" for='imageUrl'>Image</label>
  <input class="form-control" type='text' name='imageUrl'>

  <br>
  <button type='submit' class="btn btn-success">Create</button>

</form>