<h1>Add New Country</h1>

<form action="/countries/" method="POST">

 <label class="form-label" for=''>Name</label>
  <input class="form-control" type='text' name='name'>

  <br>
  <label class="form-label" for=''>Description</label>
  <input class="form-control" type='text' name='description'>

  <br>
  <label class="form-label" for=''>Playlist ID</label>
  <input class="form-control" type='text' name='playlistId'>

   <br>
  <label class="form-label" for=''>Recipe</label>
  <input class="form-control" type='text' name='recipeUrl'> 

    <br>
  <label class="form-label" for=''>Image</label>
  <input class="form-control" type='text' name='imageUrl'>

  <br>
  <button type='submit' class="btn btn-success">Create</button>

</form>