<section class="hero">
  <div class="hero-body">
    <p class="title">
      404: Page Not Found
    </p>
    <p class="subtitle">
      Your princess is in another castle.
    </p>
    <p>
        The page you were looking for either doesn't exist or moved somewhere else.
    </p>
    <p>
        Here's a kitten to help you on your search. Good luck!
    </p>
    <p>
        <img src="/images/404.jpeg" />
    </p>
  </div>
</section>