<section class="hero">
  <div class="hero-body has-text-centered">
    <div class="columns text-is-centered">
      <div class="column is-12">
        <p class="title">
          404: Page Not Found
        </p>
        <p class="subtitle">
          The page is lost somewhere in space.
        </p>
        <p class="block">
          The page you were looking for either doesn't exist or moved somewhere
          else.
        </p>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-6">
        <figure class="image">
          <img src="/images/10.png" />
        </figure>
      </div>
    </div>
  </div>
</section>