<section class="hero">
  <div class="hero-body has-text-centered">
    <div class="columns text-is-centered">
      <div class="column is-12">
        <p class="title">
          404: Page Not Found
        </p>
        <p class="subtitle">
          Your princess is in another castle.
        </p>
        <p class="block">
          The page you were looking for either doesn't exist or moved somewhere
          else.
        </p>
        <p class="block">
          Here's a kitten to help you on your search. Good luck!
        </p>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-6">
        <figure class="image">
          <img src="/images/404.jpeg" />
        </figure>
      </div>
    </div>
  </div>
</section>