<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-12">
        <p class="title">
          500:
          {{#if message}}
            {{message}}
          {{else}}
            Internal Service Error
          {{/if}}
        </p>
        <p class="subtitle">
          We did an oops, Sozzles.
        </p>
        {{#if error.status}}
          <p class="subtitle">
            Status
          </p>
          <code class="block">
            {{error.status}}
          </code>
        {{/if}}
        {{#if error.stack}}
          <p class="subtitle">
            Stack trace
          </p>
          <code class="block">
            {{error.stack}}
          </code>
        {{/if}}
        <p class="block">
          Maybe try pluggin in again in a bit.
        </p>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-6">
        <figure class="image">
          <img src="/images/6.png" />
        </figure>
      </div>
    </div>
  </div>
</section>