<section class="hero">
  <div class="hero-body">
    <p class="title">
      500: Internal Service Error
    </p>
    <p class="subtitle">
      We did an oops. Soz
    </p>
    <p>
        Maybe try again in a bit. 
    </p>
    <p>
        Here's a kitten to keep you company until then. 
    </p>
    <p>
        <img src="/images/500.jpeg" />
    </p>
  </div>
</section>