<div class="columns is-centered">
  <div class="column is-10">
    <h1 class="title is-size-1">
      About Us
    </h1>
    <h1 class="title is-size-1">Welcome to Tablespoon Travellers!</h1>
    <br />
    <p>This site is where you can travel through food!
      <br />
      Throught the wheel of foodtune a random country will be selected.
      <br />
      From this random country you will see there national recipe
      <br />
      and listen to there most famous music!
    </p>
  </div>
</div>