<section class="hero is-small">
  <div class="hero-body">
    <div class="columns is-centered is-multiline">
      <div class="column is-10">
        <h1 class="title is-size-1">
          Welcome to Tablespoon Travellers!
        </h1>
        <h3 class="title is-size-3">About Us</h3>
        <br />
        <p class="block">
          Tablespoon Travellers started with a dream, a destination, and then, a
          deadline.
          <br />
        </p>
        <p class="block">
          We both love to travel (and eat) and wanted our users to have that
          experience, even if they were stuck at home, in lockdown or if travel
          restrictions prevented it.
          <br />
        </p>
        <p class="block">
          It's safe to say we all like show off new tricks, so why not invite
          some friends over for a culinary excursion to places unknown.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="columns is-centered is-multiline">

      <div class="column is-10">
        <h3 class="title is-size-3">
          follow us on Instagram
        </h3>
        <div class="columns">
          <div class="column is-2">
            <figure class="image is-2by3">
              <img src="https://picsum.photos/200/300?random=1" />
            </figure>
          </div>
          <div class="column is-2">
            <figure class="image is-2by3">
              <img src="https://picsum.photos/200/300?random=2" />
            </figure>
          </div>
          <div class="column is-2">
            <figure class="image is-2by3">
              <img src="https://picsum.photos/200/300?random=3" />
            </figure>
          </div>
          <div class="column is-2">
            <figure class="image is-2by3">
              <img src="https://picsum.photos/200/300?random=4" />
            </figure>
          </div>
          <div class="column is-2">
            <figure class="image is-2by3">
              <img src="https://picsum.photos/200/300?random=5" />
            </figure>
          </div>
          <div class="column is-2">
            <figure class="image is-2by3">
              <img src="https://picsum.photos/200/300?random=6" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>