<div class="columns is-centered">
  <div class="column is-10">
    <h1 class="title is-size-1">
     Welcome to Tablespoon Travellers!
    </h1>
    <h1 class="title is-size-1">About Us</h1>
    <br />
    <p>Tablespoon travellers started with a dream, a destination and then, a deadline.
      <br />
      We both love to travel (and eat) and wanted our users to be able to have that expierience,
      <br />
      even if they were stuck at home, in lockdown or if travel restrictions prevented it. 
      <br />
      It's safe to say we !
    </p>
  </div>
</div>