<link rel="stylesheet" href="/stylesheets/flap.css" />
<section id="HomepageText" class="section">
  <img
    src="/images/logo4.png"
    width="256"
    height="256"
  />
  <h2 class="subtitle" >
 Generate a random country! Exciting and unexpected destinations lay ahead,
 </h2> 
 <h2 class="subtitle">
 why not see where your next food destination will take you?
  </h2>
  <div class="container mt-0">
    <div class="columns mt-0">
      <div class="column is-12 mt-0">
        <a id="link">
          <div class="center">
          </div>
        </a>
      </div>
    </div>
    <div class="columns is-centered pt-6 mt-6">
      <div class="column is-narrow">
        <div class="field is-grouped is-centered">
          <p class="control">
            <button id="buttonFlap" class="button is-link is-rounded">
              Start spinning
            </button>
          </p>
          <p class="control">
            <a id="takeMeThere" class="button is-success is-rounded" disabled>
              Take me there
            </a>
          </p>
          <p class="control">
            <a
              id="ButtonHomepage"
              class="button is-primary is-rounded"
              href="/random/"
            >
              Spin again
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="module">
  import canvasConfetti from 'https://cdn.skypack.dev/canvas-confetti';
  window.confetti = canvasConfetti;
</script>
<script>
  window.countries =
  {{{countries}}}
</script>
<script src="/scripts/flap.js"></script>