<link rel="stylesheet" href="/stylesheets/flap.css" />
<section id="HomepageText" class="section is-medium">
  <h1 class="title">Generate a random country!</h1>
  <h2 class="subtitle">
    A simple container to divide your page into
    <strong>sections</strong>, like the one you're currently reading.
  </h2>
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <a id="link">
          <div class="center">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<div class="field is-grouped">
  <p class="control">
    <button id="buttonFlap" class="button is-rounded">
      Spin a random country
    </button>
  </p>
  <p class="control">
    <a id="ButtonHomepage" class="button is-rounded" href="/random/">
      Try again for another country
    </a>
  </p>
</div>

<script>
  window.countries =
  {{{countries}}}
</script>
<script src="/scripts/flap.js"></script>