<link rel="stylesheet" href="/stylesheets/flap.css" />
<img src="/images/landing page background.png" alt="" class="flap-background" />
<div class="columns">
    <div class="column is-12">
        <a id="link">
        <div class="center">   
        </div>
        </a>
    </div>
</div>

<script>
    window.countries = {{{ countries }}}
</script>
<script src="/scripts/flap.js"></script>
