<div>

    <img src="/images/landing page background.png" alt="" class="stretch" />

  <img src="/images/Traveler landing page loge.png" alt="" class="stretch2" />
</div>

<div class="columns">
  <!-- For landing page background and logo-->
  <div class="landing-page9 is-6 is-pulled-right">
    <h1 class="title is-size-1">Welcome to Tablespoon Travellers!</h1>
    <br />
    <p>This site is where you can travel through food!
      <br />
      Throught the wheel of foodtune a random country will be selected.
      <br />
      From this random country you will see there national recipe
      <br />
      and listen to there most famous music!
    </p>
    <br />
    <div>
      <a id="button-left" class="button is-link is-rounded" href="/auth/signup">Sign up</a>
      <a class="button is-primary is-rounded" href="/auth/login">Log in</a>
    </div>
  </div>
</div>