<div>
  <img src="/images/landing page background.png" alt="" class="stretch" />
</div>

<!-- For landing page background and logo-->
   <div class="landing-page9">
     <button class="button is-warning">Sign up</button>
     <button class="button is-danger">Log in</button>
  </div>

    <div class="column is-6">
      <img src="/images/Traveler landing page loge.png" alt="" class="stretch2" />
    </div>
 