<div>
  <img src="/images/landing page background.png" alt="" class="stretch" />
</div>

<!-- For landing page background and logo-->
   <div class="landing-page9">
     <h1>Welcome to Tablespoon Traveller!</h1>
     <br>
     <p>This site is where you can travel through food! 
    <br>
     Throught the wheel of foodtune a random country will be selected. 
     <br>
     From this random country you will see there national recipe 
     <br>
     and listen to there most famous music! 
     </p>
      <br>
     <a id="button-left" class="button is-warning" href="/auth/signup">Sign up</a>
     <a class="button is-danger" href="/auth/login">Log in</a>
  </div>

    <div class="column is-6">
      <img src="/images/Traveler landing page loge.png" alt="" class="stretch2" />
    </div>
 