<div class="stretch-parent">
  <img src="/images/landing page background.png" alt="" class="stretch" />
</div>

<!-- For landing page background and logo-->

<div class="is-overlay">
  <div class="columns">
    <div class="column is-6">
      <img src="/images/Traveler landing page loge.png" alt="" class="stretch2 is-pulled-right" />
    </div>
    <div class="column is-6">
      Beep boop
    </div>
  </div>
</div>