<h1>Add New Recipe</h1>

<form action="/countries/" method="POST">

 <label class="form-label" for=''>Name</label>
  <input class="form-control" type='text' name='name'>

  <br>
  <label class="form-label" for=''>Description</label>
  <input class="form-control" type='text' name='description'>

  <br>
  <label class="form-label" for=''>Ingredients</label>
  <input class="form-control" type='text' name='Ingredients'>

<!--need to a list for the ingredients and instructions-->

   <br>
  <label class="form-label" for=''>Instructions</label>
  <input class="form-control" type='text' name='Instructions'> 

    <br>
  <label class="form-label" for=''>Image</label>
  <input class="form-control" type='text' name='imageUrl'>

  <br>
  <button type='submit' class="btn btn-success">Create</button>

</form>